@use 'colors';

// hamburger menu
.menu {
    &__checkbox {
        position: absolute;
        left: -9999px;
    }

    &__toggler {
        cursor: pointer;
    }

    &__list {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: colors.$c-primary;
    }

    &__link {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: colors.$c-text-primary;
    }

    &__link:hover {
        background-color: colors.$c-secundary;
    }

    &__checkbox:checked~.menu__list {
        display: block;
    }

    // PC menu
    @media screen and (min-width: 650px) {
        &__toggler {
            display: none;
        }

        &__list {
            display: flex !important;
            flex-direction: row;
            justify-content: center;
        }


        &__link {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            color: colors.$c-text-primary;
            padding: 10px 10px;
            margin: 0 5px;
            border-radius: 2px;
        }

    }

    @media screen and (min-width: 800px) {
        &__toggler {
            display: none;
        }
    
        &__list {
            display: flex !important;
            flex-direction: row;
            justify-content: center;
        }
    
    
        &__link {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 14px;
            color: colors.$c-text-primary;
            padding: 10px 15px;
            margin: 0 5px;
            border-radius: 2px;
        }
    
    }

}


